@import "tailwindcss";

@media print {
  body {
    background: #ffffff !important;
    color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  header, footer, nav, .print\:hidden {
    display: none !important;
  }

  .carteirinha-print-container {
    page-break-inside: avoid;
    margin: 20mm auto !important;
    width: 100% !important;
  }
}
